<div class="container-fluid">
    <RadzenFieldset Text="Факторы уязвимости">
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@hasAddiction"/>
                <RadzenLabel Text="Заивисмость" />
                @if (hasAddiction)
                {
                    <RadzenTextBox @bind-Value="@addictionKind" Placeholder="Уточните тип" Style="margin-left: 5px" />
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@childhoodViolence"/>
                <RadzenLabel Text="Насилие в детстве" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@orphanageExperience"/>
                <RadzenLabel Text="Опыт интернатного учреждения" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@homelessness"/>
                <RadzenLabel Text="Бездомность" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@migration"/>
                <RadzenLabel Text="Мигрант_ка" />
            </div>
        </div>        
        <div class="row">
            <div class="col-md-2">
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Состояние здоровья" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Инвалидность"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="ОВЗ"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Психическое расстройство"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Туберкулёз"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="ВИЧ"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Гепатит B"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Гепатит C"/>
                </div>
                <div class="row">
                    <RadzenCheckBox TValue="bool"/>
                    <RadzenLabel Text="Другое"/>
                    <RadzenTextBox Placeholder="Уточните" Style="margin-left: 5px"/>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-4">
                <RadzenCheckBox TValue="bool" @bind-Value="@otherVulnerability"/>
                <RadzenLabel Text="Другое" />
                @if (otherVulnerability)
                {
                    <RadzenTextBox Placeholder="Уточните.." Style="margin-left: 5px" @bind-Value="@otherVulnerabilityDetails"/>
                }
            </div>
        </div>
    </RadzenFieldset>
</div>
@code {
    private bool hasAddiction;
    private string? addictionKind;
    private bool childhoodViolence;
    private bool orphanageExperience;
    private bool homelessness;
    private bool migration;
    private bool otherVulnerability;
    private string? otherVulnerabilityDetails;
}