@page "/Document/{DocumentID}"
@using SafeHouseAMS.BizLayer.LifeSituations
@using System.Threading
@using SafeHouseAMS.BizLayer.LifeSituations.Documents
@using SafeHouseAMS.BizLayer.LifeSituations.Records
@using SafeHouseAMS.WasmApp.Pages.Survivors
@using SafeHouseAMS.WasmApp.RecordViews
@inject ILifeSituationDocumentsAggregate _documentsCatalogue;
@inject NavigationManager _navigationManager;

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" @onclick="@(() => _navigationManager.NavigateTo($"{nameof(SurvivorDetails)}/{_document?.Survivor.ID}"))">
                <span class="oi oi-arrow-left"></span>
                Назад в карточку
            </button>
        </div>
    </div>
    @if (_document is not null)
    {
        <div class="row">
            <div class="col-12">
                <h3>@DocName</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <RadzenLabel Text="Дата документа:"/>
                <RadzenLabel Text="@_document.DocumentDate.ToString("d")" />
            </div>
            <div class="col-md-2">
                <RadzenLabel Text="Пострадаший:"/>
                <RadzenLabel Text="@_document.Survivor.Name" />
            </div>
            <div class="col-md text-muted">
                <RadzenFieldset Text="Системная информация" AllowCollapse="true" Collapsed="true">
                    <RadzenLabel Text="ID"/>
                    <RadzenLabel Text="@_document.ID.ToString("D")"/>
                    <br/>
                    <RadzenLabel Text="Создан:"/>
                    <RadzenLabel Text="@_document.Created.ToString("g")"/>
                    <br/>
                    <RadzenLabel Text="Изменён: "/>
                    <RadzenLabel Text="@_document.LastEdit.ToString("g")"/>
                </RadzenFieldset>
            </div>
        </div>
    }
    <div class="row">
        @switch (@_document)
        {
            case null:
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            Документ загружается...
                        </div>
                    </div>
                </div>
                break;
            case Inquiry inquiry:
                <InquiryView InquiryDocument="@inquiry"/>
                break;
            case SingleRecordUpdate<CitizenshipRecord> doc:
                <CitizenshipChangeView CitizenshipChange="doc"/>
                break;
            case SingleRecordUpdate<ChildrenRecord> doc:
                <ChildrenRecordView Record="doc.Record"/>
                break;
            case SingleRecordUpdate<DomicileRecord> doc:
                <DomicileRecordView Domicile="doc.Record" />
                break;
            case MultiRecordsUpdate<EducationLevelRecord> doc:
                foreach (var rec in doc.Records)
                {
                    <EducationLevelRecordView Record="rec"/>
                }
                break;
            case SingleRecordUpdate<MigrationStatusRecord> doc:
                <MigrationStatusRecordView Record="doc.Record"/>
                break;
            case SingleRecordUpdate<RegistrationStatusRecord> doc:
                <RegistrationStatusRecordView Record="doc.Record"/>
                break;
            case MultiRecordsUpdate<SpecialityRecord> doc:
                foreach (var rec in doc.Records)
                {
                    <SpecialityRecordView Record="rec"/>
                }
                break;
            default:
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            Тип документа @_document.GetType().Name не поддерживается
                        </div>
                    </div>
                </div>
                break;
        }
    </div>
</div>

@code {
    [Parameter] public string? DocumentID { get; set; }
    private LifeSituationDocument? _document;

    private string DocName => _document switch
        {
            Inquiry => "Обращение за помощью",
            SingleRecordUpdate<CitizenshipRecord> => "Смена гражданства",
            SingleRecordUpdate<ChildrenRecord> => "Обновление в составе детей",
            SingleRecordUpdate<DomicileRecord> => "Изменение жилья",
            MultiRecordsUpdate<EducationLevelRecord> => "Получение образования",
            SingleRecordUpdate<MigrationStatusRecord> => "Изменение миграционного статуса",
            SingleRecordUpdate<RegistrationStatusRecord> => "Изменение статуса регистрации",
            MultiRecordsUpdate<SpecialityRecord> => "Получение специальностей",
            _ => _document?.ToString() ?? "Нет документа"
        };

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(DocumentID, out var docId))
        {
            _document = await _documentsCatalogue.GetSingleAsync(docId, CancellationToken.None);
        }
        await base.OnParametersSetAsync();
    }
}
