@using SafeHouseAMS.BizLayer.LifeSituations
@using SafeHouseAMS.BizLayer.LifeSituations.InquirySources

<div class="container-fluid">
    <div class="row" style="margin-top: 5px">
        <div class="col-md-8">
            <RadzenLabel Text="Дата документа"/>
            <RadzenDatePicker @bind-Value="@DocumentDate" ShowTime="true"/>
        </div>
        <div class="col-md-4">
            <RadzenCheckBox TValue="bool?" TriState="true" @bind-Value="@IsJuvenile" />
            <RadzenLabel Text="Несовершеннолетний на момент обращения"/>
        </div>
    </div>
    
    <div class="row" style="margin-top: 5px">
        <div class="col-md-6">
            <RadzenFieldset Text="Канал обращения">
                <div class="row">
                    <div class="col-2-md" style="margin-right: 5px">
                        <RadzenCheckBox TValue="bool" @bind-Value="@selfInquiry"/>
                        Самообращение
                    </div>
                    @if (selfInquiry)
                    {
                        <div class="col-10-md">
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Vk"/>
                                    Вконтакте
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Facebook"/>
                                    Facebook
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Instagram"/>
                                    Instagramm
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Email"/>
                                    Почта
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Phone"/>
                                    Телефон
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Whatsapp"/>
                                    Whatsapp
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Viber"/>
                                    Viber
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Telegramm"/>
                                    Telegramm
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <RadzenCheckBox TValue="bool" @bind-Value="@Signal"/>
                                    Signal
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-2-md" style="margin-right: 5px">
                        <RadzenCheckBox TValue="bool" @bind-Value="@isForwardedBySurvivor"/>
                        Перенаправлен другим пострадавшим
                    </div>
                    @if (isForwardedBySurvivor)
                    {
                        <div class="col-10-md">
                            <RadzenTextBox Placeholder="Укажите каким" @bind-Value="@forwardedBySurvivor"></RadzenTextBox>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-2-md" style="margin-right: 5px">
                        <RadzenCheckBox TValue="bool" @bind-Value="@isForwardedByPerson"/>
                        Перенаправлен другим лицом
                    </div>
                    @if (isForwardedByPerson)
                    {
                        <div class="col-10-md" style="margin-right: 5px">
                            <RadzenTextBox Placeholder="Укажите каким" @bind-Value="@forwardedByPerson"></RadzenTextBox>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-2-md" style="margin-right: 5px">
                        <RadzenCheckBox TValue="bool" @bind-Value="@isForwardedByOrganization"/>
                        <RadzenLabel Text="Перенаправлен другой организацией"/>
                    </div>
                    @if (isForwardedByOrganization)
                    {
                        <div class="col-10-md">
                            <RadzenTextBox Style="display: block" Name="ForwardedOrganizationTextBox" Placeholder="Название организации" @bind-Value="@forwardedByOrganization"/>
                            <RadzenRequiredValidator Component="ForwardedOrganizationTextBox" Text="Укажите организацию" Style="position: absolute"/>
                        </div>
                    }
                </div>
            </RadzenFieldset>
        </div>
        <div class="col-md-6">
            <RadzenFieldset Text="Гражданство">
                <div class="row">
                    <div class="col-md-12">
                        <RadzenTextBox Style="display: block" Name="CitizenshipTextBox" Placeholder="Укажите гражданство" @bind-Value="@Citizenship"/>
                        <RadzenRequiredValidator Style="position: absolute" Component="CitizenshipTextBox" Text="Гражданство обязательно для заполнения"/>
                    </div>
                </div>
            </RadzenFieldset>
        </div>
    </div>
</div>

@code {
    public DateTimeOffset DocumentDate { get; private set; } = DateTimeOffset.Now;
    public bool? IsJuvenile { get; private set; }
    
    private bool selfInquiry;
    private bool Vk;
    private bool Facebook;
    private bool Instagram;
    private bool Email;
    private bool Phone;
    private bool Whatsapp;
    private bool Viber;
    private bool Telegramm;
    private bool Signal;
    
    private bool isForwardedBySurvivor;
    private string forwardedBySurvivor = string.Empty;
    
    private bool isForwardedByPerson;
    private string forwardedByPerson = string.Empty;
    
    private bool isForwardedByOrganization;
    private string? forwardedByOrganization;
    
    public string? Citizenship { get; private set; } 

    public IReadOnlyCollection<IInquirySource> InquirySources
    {
        get
        {
            var result = new List<IInquirySource>(4);
            if (selfInquiry)
            {
                var channel = SelfInquiry.InquiryChannel.None;
                if (Vk) channel |= SelfInquiry.InquiryChannel.Vk;
                if (Facebook) channel |= SelfInquiry.InquiryChannel.Facebook;
                if (Instagram) channel |= SelfInquiry.InquiryChannel.Instagramm;
                if (Email) channel |= SelfInquiry.InquiryChannel.Email;
                if (Phone) channel |= SelfInquiry.InquiryChannel.Phone;
                if (Whatsapp) channel |= SelfInquiry.InquiryChannel.Whatsapp;
                if (Viber) channel |= SelfInquiry.InquiryChannel.Viber;
                if (Telegramm) channel |= SelfInquiry.InquiryChannel.Telegramm;
                if (Signal) channel |= SelfInquiry.InquiryChannel.Signal;
                result.Add(new SelfInquiry(channel));
            }
            if(isForwardedBySurvivor) result.Add(new ForwardedBySurvivor(forwardedBySurvivor));
            if(isForwardedByPerson) result.Add(new ForwardedByPerson(forwardedByPerson));
            if(isForwardedByOrganization && !string.IsNullOrWhiteSpace(forwardedByOrganization)) result.Add(new ForwardedByOrganization(forwardedByOrganization));
            return result;
        }
    }

}